.styles-module_whatsappButton__tVits::after {
  animation: none !important;
}

.styles-module_chatHeader__gaeOA {
  background-color: #705b38 !important;
}

input {
  font-size: 15px !important;
}
